.onboarding-progress {
  container-type: inline-size;
}

.onboarding-progress__grid {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.onboarding-progress__step {
  font-size: 0.875rem;
}

@container (min-width: 30rem) {
  .onboarding-progress__grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .onboarding-progress__step {
    font-size: 0.75rem;
  }
}

@container (min-width: 64rem) {
  .onboarding-progress__grid {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}
